.cart {
  display: block;
  margin-top: -2px;
  position: absolute;
  right: 48px;
  top: 24px;
  width: 300px;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 24px 24px 24px;

}

.cart__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0 12px 0;
  /* border: 1px solid black; */
  border-bottom: 1px dashed black;
}

.cart__item-img {
  display: block;
  width: 60px;
}

.cart__item-detail {
  display: flex;
  display: block;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
}
.cart__item-delete {
  border: 1px solid red;
  color: red;
  cursor: pointer;
  font-weight: 200;
  margin: 1px 0 1px 28px;
  border-radius: 2px;
}

.cart__summary {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin: 12px 24px 24px 24px;

}

.cart__summary-clear {
  border: 1px solid red;
  color: white;
  cursor: pointer;
  background-color: red;
  width: 48px;
  padding: 4px;
  /* justify-content: center;
  align-items: center; */
  
}

.cart__summary-total {
  display: flex;
  justify-content: center;
  align-items: center;
}